
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th>Name</th>
                    
                    <th>Profile</th>
                    <th>Actes</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of myUsers">
                        <td scope="row"><strong>{{ user.fullname }}</strong></td>
                        <td>{{ user.profile }}</td>
                        <td>
                            <app-users-actes [list-actes]="user.actesDeGestion"></app-users-actes>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>
